h1{
    font-size: 28px;
}
p{
    font-style: italic;
}
.it1{
    font-size: 24px;
}
.it2{
    font-size: 24px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
section{
    margin-left: 20px;
}
